@font-face {
  /* Define Roboto Font using local font files for offline availability */
  font-family: 'Roboto';
  src: url(assets/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-text-primary: #322A26;
  --color-text-secondary: #7E7570;
  --color-text-tertiary: #C5C0BD;

  --color-green: #009682;
  --color-green-dark: #013A41;
  --color-green-lighter: #2AAD9C;

  --color-surface: #F6FFFE;
  --color-surface-elevated: #FFFFFF;

  --color-red: #F3451E;

  --border-radius: 16px;
  --font-size-xs: 0.8rem;
  --font-size-s: 1rem;
  --font-size-m: 1.2rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;

  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size-s);
  background-color: var(--color-surface);
  color: var(--color-text-primary);
  padding: 0;
  margin: 0;

  /* CSS Variables Overwrites for Material Theme */
  --md-sys-color-primary: rgb(0 91 78);
  --md-sys-color-surface-tint: rgb(0 107 92);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(0 132 114);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(0 39 44);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(24 73 80);
  --md-sys-color-on-secondary-container: rgb(178 226 234);
  --md-sys-color-tertiary: rgb(0 107 95);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(60 185 168);
  --md-sys-color-on-tertiary-container: rgb(0 33 29);
  --md-sys-color-error: rgb(156 30 0);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(219 52 12);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(245 251 247);
  --md-sys-color-on-background: rgb(23 29 27);
  --md-sys-color-surface: rgb(252 249 248);
  --md-sys-color-on-surface: rgb(27 28 27);
  --md-sys-color-surface-variant: rgb(224 227 227);
  --md-sys-color-on-surface-variant: rgb(68 71 72);
  --md-sys-color-outline: rgb(116 120 120);
  --md-sys-color-outline-variant: rgb(196 199 200);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(48 48 48);
  --md-sys-color-inverse-on-surface: rgb(243 240 239);
  --md-sys-color-inverse-primary: rgb(103 217 195);
  --md-sys-color-primary-fixed: rgb(133 246 223);
  --md-sys-color-on-primary-fixed: rgb(0 32 27);
  --md-sys-color-primary-fixed-dim: rgb(103 217 195);
  --md-sys-color-on-primary-fixed-variant: rgb(0 80 69);
  --md-sys-color-secondary-fixed: rgb(187 235 243);
  --md-sys-color-on-secondary-fixed: rgb(0 31 36);
  --md-sys-color-secondary-fixed-dim: rgb(159 206 215);
  --md-sys-color-on-secondary-fixed-variant: rgb(29 77 84);
  --md-sys-color-tertiary-fixed: rgb(129 246 227);
  --md-sys-color-on-tertiary-fixed: rgb(0 32 28);
  --md-sys-color-tertiary-fixed-dim: rgb(98 218 199);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 80 71);
  --md-sys-color-surface-dim: rgb(220 217 217);
  --md-sys-color-surface-bright: rgb(252 249 248);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(246 243 242);
  --md-sys-color-surface-container: rgb(240 237 236);
  --md-sys-color-surface-container-high: rgb(234 231 231);
  --md-sys-color-surface-container-highest: rgb(228 226 225);
}

body {
  border: 0;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
