@for (item of incidents; track $index) {
  <div class="incident_item" (click)="select.emit(item.incident.id)"
    [ngClass]="{'selected': item.incident.id === selectedIncident}">
    <div class="incident_content">
      <p class="incident-id">ID: <span>{{item.incident.id}}</span></p>
      @if (item.device) {
      <div class="incident-device">
        <div>Device: <span>{{item.device.name}}</span></div>
        <div>Device IP: <span>{{item.device.ip}}</span></div>
      </div>
      } @else {
      <p class="incident-device">[deleted device]</p>
      }
      <div class="incident-time">
        <div>Start: <span>{{format(item.incident.timestamp_start)}}</span></div>
        <div>End: <span>{{format(item.incident.timestamp_end)}}</span></div>
      </div>
      <p class="incident-type">Type: <span>{{item.incident.incidentType}}</span></p>
      <p class="incident-images">Images: <span>{{item.images.length}}</span></p>
    </div>
    <div class="incident_icons">
      <!-- Display images of missing safety equipment -->
      @if (item.incident.incidentType === 'person_without_safety') {
      <img class="img_helmet" src="assets/images/safety_helmet.svg" alt="Helmet img">
      <img class="img_vest" src="assets/images/safety_vest.svg" alt="Vest img">
      } @else if (item.incident.incidentType === 'person_only_with_helmet') {
      <img class="img_vest" src="assets/images/safety_vest.svg" alt="Vest img">
      } @else if (item.incident.incidentType === 'person_only_with_jacket') {
      <img class="img_helmet" src="assets/images/safety_helmet.svg" alt="Helmet img">
      }
    </div>
  </div>
}
