@if (selected) {
  <!-- Simple image carousel setup with forward/backward buttons -->
  <div class="image_carousel" [ngClass]="{'no_image': selected.images.length === 0}">
    @if (selected.images.length === 0) {
      <div>There are no images for this incident.</div>
    } @else {
      <img [src]="image_folder + selected.images[imageIndex].name" alt="Incident Image">

      <button class="arrow_left" (click)="prevImage()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button class="arrow_right" (click)="nextImage()">
        <mat-icon>arrow_forward</mat-icon>
      </button>

      <div class="image_index">
        {{imageIndex + 1}} / {{selected.images.length}}
      </div>
    }
  </div>

  <!-- Display content and actions for the selected incident -->
  <div class="incident_content">
    <p><span>ID:</span> {{selected.incident.id}}</p>
    <p><span>Start:</span> {{format(selected.incident.timestamp_start)}}</p>
    <p><span>End:</span> {{format(selected.incident.timestamp_end)}}</p>
    <div class="incident_type">
      <span>Type:</span>
      @for (type of selected.incident.incidentType; track $index) {
        {{type + ', '}}
      }
    </div>
    <div class="incident_icons">
      <!-- Display images of missing safety equipment -->
      @if (selected.incident.incidentType.includes('person_without_safety')) {
      <img class="img_no_safety" src="assets/images/no_safety.svg" alt="no safety img">
      }
      @if (selected.incident.incidentType.includes('person_only_with_helmet')) {
      <img class="img_helmet" src="assets/images/only_helmet.svg" alt="only_helmet img">
      }
      @if (selected.incident.incidentType.includes('person_only_with_jacket')) {
      <img class="img_jacket" src="assets/images/only_jacket.svg" alt="only_jacket img">
      }
      @if (selected.incident.incidentType.includes('person_with_full_safety')) {
      <img class="img_jacket" src="assets/images/full_safety.svg" alt="full_safety img">
      }
    </div>
    @if (selected.device) {
      <p><span>Device:</span> {{selected.device.name}}</p>
      <p><span>Location:</span> {{selected.device.location}}</p>
    }
  </div>

  <div class="incident_actions">
    <button class="btn_delete" (click)="deleteImage()">
      <mat-icon>delete</mat-icon>
      <span>Delete Incident</span>
    </button>
  </div>
} @else {
  <div>No incident selected.</div>
}
