:host {
  display: flex;
  gap: 1rem;
  overflow: visible;
  overflow-x: auto;
  padding: 0.75rem;
}
:host::-webkit-scrollbar {
  height: 8px;
  padding: 0 .5rem;
}
:host::-webkit-scrollbar-track {
  background: var(--color-text-tertiary);
  padding: 0 .5rem;
}
:host::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--color-text-primary);
}

.device_item {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .35);
  border-radius: 8px;
  padding: .5rem .75rem;

  font-size: var(--font-size-s);
  display: flex;
  width: fit-content;
}
.device_item:hover {
  cursor: pointer;
  outline: 2px solid var(--color-text-primary);
}

.device_content {
  display: flex;
  flex-direction: column;
  width: max-content;
  color: var(--color-text-primary);
  font-weight: 500;
}
.device_content h5 {
  font-size: var(--font-size-s);
}
.device_content span {
  font-weight: 400;
  color: var(--color-text-secondary);
}
.device_content .active span {
  color: var(--color-green);
}
.device_content .inactive span {
  color: var(--color-red);
}

.device_img .img_jetson {
  width: 100px;
  margin-right: .5rem;
}
