@for (incident of incidents; track incident.id) {
  <div class="incident_item" (click)="selectIncidentAndNavigate(incident.id)">
    <div class="incident_content">
      <h5><span>ID:</span> {{incident.id}}</h5>
      <div class="incident_device">
        <span>Device:</span> {{getDeviceName(incident.deviceID)}}
      </div>
      <div class="incident_time">
        <span>{{format(incident.timestamp_end)}}</span>
      </div>
    </div>
    <div class="incident_icons">
      <!-- Display images of missing safety equipment -->
      @if (incident.incidentType.includes('person_without_safety')) {
      <img class="img_no_safety" src="assets/images/no_safety.svg" alt="no safety img">
      }
      @if (incident.incidentType.includes('person_only_with_helmet')) {
      <img class="img_helmet" src="assets/images/only_helmet.svg" alt="only_helmet img">
      }
      @if (incident.incidentType.includes('person_only_with_jacket')) {
      <img class="img_jacket" src="assets/images/only_jacket.svg" alt="only_jacket img">
      }
      @if (incident.incidentType.includes('person_with_full_safety')) {
      <img class="img_jacket" src="assets/images/full_safety.svg" alt="full_safety img">
      }
    </div>
  </div>
}
